@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    @apply font-sans text-[#0f172a] bg-[#f8fafc];
  }

  html,
  body {
    @apply h-full;
  }

  body {
    @apply m-0 overflow-hidden bg-[radial-gradient(circle_at_20%_20%,_#eef2ff,_#f8fafc_30%)];
  }

  *,
  ::before,
  ::after {
    @apply box-border;
  }
}
